<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="footer-title">Tenin</h4>
                <p class="footer-description">Luxury bedding crafted with precision and passion. Elevate your sleeping experience with our premium Egyptian cotton collections.</p>
            </div>
            <div class="col-md-2">
                <h5 class="footer-section-title">Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/collections">Collections</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="footer-section-title">Customer Care</h5>
                <ul class="footer-links">
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/shipping">Shipping</a></li>
                    <li><a href="/returns">Returns</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-section-title">Newsletter</h5>
                <form class="newsletter-form">
                    <input type="email" class="newsletter-input" placeholder="Enter your email">
                    <button type="submit" class="newsletter-button">Subscribe</button>
                </form>
                <div class="social-icons">
                    <a href="https://www.instagram.com/teninofficial/" class="social-icon"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.instagram.com/teninofficial/" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com/teninofficial/" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/roshan-jabir/" class="social-icon"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=7560886989" class="social-icon"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Tenin. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">